body,a {
  color: #FFFFFF;
  background: url('../images/back.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  font-size: 1.1em;
}

.content {
  width: 50%;
  margin: 0 auto;
}